body {
    /* background-color: #f7f8fc; */
    background-image: url(https://marketplace.canva.com/EAD2962NKnQ/2/0/1600w/canva-rainbow-gradient-pink-and-purple-zoom-virtual-background-_Tcjok-d9b4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

